<p id="notice"><%= notice %></p>

<h1>Taximeters - By: <%= @company.name %></h1>

<table>
  <thead>
  <tr>
    <th>Start price</th>
    <th>Km price</th>
    <th>Minute price</th>
    <th>Minimum price</th>
    <th>Time from</th>
    <th>Time to</th>
    <th>Days</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @taximeters.each do |taximeter| %>
    <tr>
      <td><%= taximeter.start_price %></td>
      <td><%= taximeter.km_price %></td>
      <td><%= taximeter.minute_price %></td>
      <td><%= taximeter.minimum_price %></td>
      <td><%= taximeter.time_from_formatted %></td>
      <td><%= taximeter.time_to_formatted %></td>
      <td><%= taximeter.days %></td>
      <td><%= link_to 'Show', company_taximeter_path(taximeter.company, taximeter), class: 'button' %></td>
      <td><%= link_to 'Edit', edit_company_taximeter_path(taximeter.company, taximeter), class: 'button' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Taximeter', new_company_taximeter_path, class: 'button' %>
<%= link_to 'Back', companies_path, class: 'button button-primary' %>