<h1>Search</h1>

<%= render 'search', search: @params %>

<% unless @search_result.nil? %>
  <h2>Result</h2>
  <% unless @search_result.present? %>
    <strong>Taximeter not founds</strong>
  <% end %>
  <% @search_result.each do |taximeter| %>
    <div class="row search_result">
      <p>
        <strong>Company name</strong>
        <%= taximeter.company.name %>
      </p>
      <p>
        <strong>Start price: </strong>
        <%= taximeter.start_price %>
      </p>
      <p>
        <strong>Price per km: </strong>
        <%= taximeter.km_price %>
      </p>
      <p>
        <strong>Minute price: </strong>
        <%= taximeter.minute_price %>
      </p>
      <p>
        <strong>Total: </strong>
        <%= taximeter.total_calculated %>
      </p>
    </div>
    <br>

  <% end %>
<% end %>